@{
    ViewBag.Title = "Покупка книги";
}

<div>
    <h3>Форма оформления покупки</h3>
 @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
 {
     @*@<input type="hidden" value="@ViewBag.BookId" name="BookId" />*@   
     @Html.Hidden("BookId", ViewBag.BookId as string)
     <table>
         <tr>
             <td><p>@Html.Label("Person", "Введите имя")</p></td>
             <td>@Html.TextBox("Person", "Введите имя") </td>
         </tr>
         <tr>
                <td><p>@Html.Label("Address", "Введите адрес")</p></td>
                <td>@Html.TextBox("Address", "Введите адрес") </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
 }

</div>